@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('truetype'),
   url('./assets/fonts/Nunito-MediumItalic.ttf') format('truetype'),
   url('./assets/fonts/Nunito-Bold.ttf') format('truetype'),
   url('./assets/fonts/Nunito-BoldItalic.ttf') format('truetype'),
   url('./assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-gradient: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(255,203,92,1) 100%);
  --side-color: #202020;
  --footer-color: #101010;
  --content-height: 95vh;
  --footer-height: 5vh;
  --nav-width: 17rem;
  --side-info-width: 12vw;
  --main-width: calc(100vw - var(--nav-width) + var(--side-info-width));
  --button-hover: #353535;
  --block-before-color: #76b9ed;
  --hr-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  color: var(--hr-color);
  margin: 4px 0;
}

button {
  background: none;
  border: none;
  color: white; 
  text-align: start;
  font-size: .9rem;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.active {
  background-color: var(--button-hover);
}

button.active::before {
  content: '';
  background-color: var(--block-before-color);
  width: 3px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  left: 2px;
  position: absolute;
}

button:hover {
  background-color: var(--button-hover);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito';
  color: white; 
}

/* Main Content */

#content {
  height: var(--content-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: var(--main-width);
  background: var(--main-gradient);
}

/* Nav contents */

nav {
  height: 100%;
  width: var(--nav-width);
  background-color: var(--side-color);
  padding: 4px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#addProject {
  display: flex;
  align-items: center;
  gap: 18px;
}

#addProject::before {
  content: "+";
  font-size: 1.5rem;
}

/* Default Projects */

#defaultProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

#defaultProjects > button {
  display: flex;
  justify-content: space-between;
}

/* Footer contents */

footer {
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.credit {
  text-align: center;
  font-size: .95rem;
}

.credit-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

/* Icon Styling */

.fa-regular, .fa-solid {
  padding-right: 12px;
}

.fa-sun {
  color: orange;
}

.fa-star {
  color: yellow;
}

.fa-list-check {
  color: cyan;
}

.fa-house {
  color: aliceblue;
}