main {
	height: 100%;
	width: var(--main-width);
	padding: 32px;
	
	display: flex;
	gap: 12px;
	flex-direction: column;
	justify-content: space-between;
}

.user {
	background: var(--user-gradient);
}

input {
	background: none;
	outline: none;
	caret-color: white;
	color: white;
	border: none;
	border-radius: 8px;
	font-family: "Nunito";
	text-overflow: ellipsis;
}

.title-container {
	display: flex;
}

#titleInput {
	font-size: 2.5rem;
	cursor: default;
	width: 100%;
	padding: 0 2px;
	color: var(--page-color);
}

#delete {
	width: 50px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 1.5rem;
}

#todoList {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 2px;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--side-color);
	padding: 18px 20px;
  transition: 75ms ease-out;
}

.todo:active {
  transform: scale(.99);
}

/* The abomination of styling */

#titleInput:focus,
#titleInput:hover,
#delete:hover {
	background-color: #4141411c;
}

#titleInput:focus {
	border-bottom: 2px solid var(--block-before-color);
}

.todo:has(.done) span {
	font-style: italic;
	text-decoration: line-through;
	filter: brightness(50%);
}

.fa-circle,
.fa-star {
	font-size: 1.2rem;
}

.done.fa-circle::after,
.fa-circle:not(.done):hover::after {
	content: "\f00c";
	font-family: FontAwesome;
	position: relative;
	font-size: 0.75rem;
	right: 50%;
	bottom: 2px;
	border-radius: 50%;
}

.done.fa-circle::after {
	color: var(--side-color);
}

.done.fa-circle:focus::after {
	content: "";
	padding-right: 10.5px;
}

:not(.done).fa-circle.fa-solid:hover::after {
	color: var(--side-color);
}

.fa-star:not(.fa-regular):focus,
.fa-star:not(.fa-solid):focus {
	color: white;
}

.done.fa-circle,
.fa-star:not(.fa-solid):hover,
.fa-star:not(.fa-regular) {
	color: var(--page-color);
}

:not(.done).fa-circle:hover,
.done.fa-circle {
	padding-right: 1.5px;
}

/* ----------------------------------------- */

#addTodo {
	background-color: var(--side-color);
	color: var(--page-color);
	height: 3rem;
	width: 100%;
	padding: 22px 20px;
	display: flex;
	align-items: center;
}

#addTodo:hover,
#addTodo:focus {
	background-color: var(--button-hover);
}