.editor {
  height: 100%;
  background-color: var(--side-color);
  flex-shrink: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.editor.active {
  width: var(--editor-width);
  animation: slide-in 500ms cubic-bezier(0,.93,.74,1);
}

.main-todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 16px;
  overflow-y: auto;
}

.todo-secondary,
.main-todo-container > div {
  background-color: var(--section-color);
  width: 100%;
  border-radius: 8px;
  padding: 12px;
}

.todo-main {
  display: flex;
  justify-content: space-between;
}

.todo-main span {
  font-size: 1.15rem;
  font-weight: bold;
}

.todo-main:has(.done) input {
  text-decoration: line-through;
  font-style: italic;
  filter: brightness(50%);
}

input[type="date"].late {
  color: red;
}

.todo-main .fa-star {
  padding-top: 4.5px;
  padding-right: 0;
}

.todo-secondary {
  display: flex;
  align-items: center;
}

.due-date,
.note {
  background: none;
  background-color: var(--section-color);
  width: 100%;
  padding: 12px;
  resize: none;
  border: none;
  border-radius: 8px;
  color: white;
}

.note {
  overflow-y: auto;
}

.extra-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extra-info span {
  text-align: center;
  flex-grow: 1;
  text-wrap: nowrap;
}

.extra-info span,
.extra-info #delete {
  font-size: .85rem;
}

.extra-info #delete {
  height: 50px;
}

.extra-info #delete:hover {
  background-color: var(--button-hover);
}

.extra-info #delete:hover {
  background-color: var(--button-hover);
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: var(--editor-width);
  }
}