@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('truetype'),
   url('./assets/fonts/Nunito-MediumItalic.ttf') format('truetype'),
   url('./assets/fonts/Nunito-Bold.ttf') format('truetype'),
   url('./assets/fonts/Nunito-BoldItalic.ttf') format('truetype'),
   url('./assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-gradient: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(255,203,92,1) 100%);
  --user-gradient: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgb(92, 255, 141) 100%);
  --side-color: #202020;
  --footer-color: #101010;
  --content-height: 95vh;
  --footer-height: 5vh;
  --nav-width: 17rem;
  --editor-width: 20rem;
  --main-width: calc(100vw - var(--nav-width) + var(--editor-width));
  --section-color: #2f2f2f;
  --button-hover: #373737;
  --block-before-color: #76b9ed;
  --hr-color: #414141;
  --page-color: #8976cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  color: white; 
  text-align: start;
  font-size: .9rem;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  transition: 75ms ease-out;
  font-family: 'Nunito';
}

button.active {
  background-color: var(--button-hover);
}

button.active::before {
  content: '';
  background-color: var(--block-before-color);
  width: 3px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  left: 2px;
  position: absolute;
}

button:hover {
  background-color: var(--button-hover);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito';
  color: white; 
  overflow: hidden;
  background-color: var(--side-color);
}

#content {
  height: var(--content-height);
  display: flex;
  align-items: center;
  justify-content: center;
}